<div class="wrapper">
    <div class="careers mx-5">
        <div class="heading p-5">
            <h1 class="display-4 text-light">Insights</h1>
        </div>
        <div class="career-cards d-flex justify-content-between">
            <div class="card" style="width: 20rem">
                <img src="/images/career1.png" class="card-img-top" alt="..." width="288px" height="320px" />
                <div class="card-body text-white px-4">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <p class="card-text">
                        Explore
                        <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                    </p>
                </div>
            </div>
            <div class="card" style="width: 20rem">
                <img src="/images/career2.png" class="card-img-top" alt="..." width="288px" height="320px" />
                <div class="card-body text-white px-4">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <p class="card-text">
                        Explore
                        <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                    </p>
                </div>
            </div>
            <div class="card" style="width: 20rem">
                <img src="/images/career3.png" class="card-img-top" alt="..." width="288px" height="320px" />
                <div class="card-body text-white px-4">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <p class="card-text">
                        Explore
                        <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="button d-flex justify-content-end  mb-5">
            <div
                class="about-btn border border-secondary d-flex align-items-center justify-content-center text-white mt-5">
                About Vikn Codes
                <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow" style="color: #ffffff"></i>
            </div>
        </div>
    </div>
</div>