<div class="wrapper">
    <div class="portfolio mx-5 pt-5">
        <div class="heading">
            <h1 class="display-3 text-light">
                Our Works
            </h1>
        </div>
        <div class="works mt-5">
            <div class="works-row-1 d-flex justify-content-between">
                <img src="/images/work1.png" alt="" height="300px" width="350px">
                <img src="/images/work2.png" alt="" height="300px" width="350px">
                <img src="/images/work3.png" alt="" height="300px" width="350px">
            </div>
            <div class="works-row-2 d-flex justify-content-between mt-5">
                <img src="/images/work4.png" alt="" height="300px" width="350px">
                <img src="/images/work5.png" alt="" height="300px" width="350px">
                <img src="/images/work6.png" alt="" height="300px" width="350px">
            </div>
            <div class="works-row-3 d-flex justify-content-between mt-5">
                <img src="/images/work7.png" alt="" height="300px" width="350px">
                <img src="/images/work8.png" alt="" height="300px" width="350px">
                <img src="/images/work9.png" alt="" height="300px" width="350px">
            </div>
        </div>
        <div class="work-btn-container d-flex justify-content-end">
            <div class="work-btn border border-secondary d-flex align-items-center justify-content-center text-white mt-5">
                View All Our Works
                <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow" style="color: #ffffff"></i>
            </div>
        </div>
        <div class="client-logo">
            <div class="logo-row-1 d-flex justify-content-between mt-5">
                <img src="/images/logo1.png" alt="" height="80px" width="250px">
                <img src="/images/logo2.png" alt="" height="80px" width="250px">
                <img src="/images/logo3.png" alt="" height="80px" width="250px">
                <img src="/images/logo4.png" alt="" height="80px" width="250px">
            </div>
            <div class="logo-row-2 d-flex justify-content-between mt-5">
                <img src="/images/logo5.png" alt="" height="80px" width="250px">
                <img src="/images/logo6.png" alt="" height="80px" width="250px">
                <img src="/images/logo7.png" alt="" height="80px" width="250px">
                <img src="/images/logo8.png" alt="" height="80px" width="250px">
            </div>
            <div class="logo-row-3 d-flex justify-content-between mt-5">
                <img src="/images/logo9.png" alt="" height="80px" width="250px">
                <img src="/images/logo10.png" alt="" height="80px" width="250px">
                <img src="/images/logo11.png" alt="" height="80px" width="250px">
                <img src="/images/logo12.png" alt="" height="80px" width="250px">
            </div>
        </div>
    </div>
</div>