<div class="wrapper">
    <div class="home mx-5 pt-5">
        <div class="company-type mx-5">
            <p class="text-white">Software Company</p>
        </div>
        <div class="company-tag text-white mx-5 mt-5">
            <h2 class="display-1">We Help Business</h2>
            <h2 class="display-1">Stand Out</h2>
        </div>
        <div class="buttons d-flex pt-5">
            <div class="get-in-touch mx-5 d-flex align-items-center justify-content-center text-white" routerLink="contact">
                Get In Touch
                <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow" style="color: #ffffff"></i>
            </div>
            <div class="offer-job border border-secondary d-flex align-items-center justify-content-center text-white">
                Offer Job
                <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow" style="color: #ffffff"></i>
            </div>
        </div>
        <div class="description-1 text-secondary mx-5 pt-5 fs-5">
            By Creating Stunning <u class="text-light">Visual Identities</u> and
            <u class="text-light">Awesome Websites</u>
        </div>
        <div class="description-2 text-light mx-5 pt-5 fs-5">
            Our mission is to help Every person and organization in the planet to
            <br />
            Achive greatness.
        </div>
        <div class="gradient-button d-flex pt-5 ms-5">
            <div class="portfolio-button mx-5  d-flex align-items-center justify-content-center text-white fs-3">
                Portfolio
                <i class="fa-solid fa-arrow-up-right-from-square ms-5 mb-5 mt-1 fs-5" style="color: #ffffff;"></i>
            </div>
            <div class="product-button  d-flex align-items-center justify-content-center text-white ms-5 fs-3">
                Project
                <i class="fa-solid fa-arrow-up-right-from-square ms-5 mb-5 mt-1 fs-5" style="color: #ffffff;"></i>
            </div>
        </div>
    </div>
</div>