<div class="wrapper d-flex flex-column">
    <div class="about mx-5 pt-5">
        <h1 class="display-4 text-light">Our Story</h1>
        <div class="description mt-5">
            <p class="text-secondary fs-5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quidem
                veniam quos non temporibus aperiam et blanditiis repellendus, molestiae
                libero repellat saepe expedita labore doloribus hic placeat fuga neque
                voluptatibus quisquam rem provident! Ut, voluptatibus.
            </p>
        </div>
        <div class="about-btn border border-secondary d-flex align-items-center justify-content-center text-white mt-5">
            About Vikn Codes
            <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow" style="color: #ffffff"></i>
        </div>
        <h1 class="display-4 text-light mt-5">Clients</h1>
    </div>
    <div class="client-review mt-5 d-flex align-items-center">
        <div class="client-review-section mx-5">
            <div class="client-heading">
                <h1 class="display-6 text-light">What Client's Say</h1>
            </div>
            <div class="client-photo mt-4">
                <img class="border rounded-circle" src="/images/client.jpg" alt="" height="50px" width="50px" />
            </div>
            <div class="client-review-text mt-3 text-light">
                "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum earum
                at, eum quam possimus nam, culpa veniam ut sapiente optio provident
                veritatis? Illum, cumque aliquid pariatur amet, sed vel voluptate
                repellat non nostrum nihil laborum cum odio quis repellendus optio
                deserunt ipsam culpa quas exercitationem perferendis autem? Rerum, id
                facere." <br /><br />
                Clara Thomas <br /><br />
                Managing Director & Founder, Global Tech Consultancy
            </div>
        </div>
        <div class="client-section-photo">
            <img src="/images/client-section.png" alt="" />
        </div>
    </div>
    <div class="success-story mt-5">
        <div class="success-heading">
            <h1 class="display-4 text-light mx-5">Success Stroies</h1>
        </div>
        <div class="success-card">
            <div class="success-card-row1 d-flex mx-5 justify-content-between mt-5">
                <div class="card" style="width: 20rem">
                    <img src="/images/succes1.png" class="card-img-top" alt="..." width="288px" height="320px" />
                    <div class="card-body text-white px-4">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <p class="card-text">
                            Explore
                            <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 20rem">
                    <img src="/images/success2.png" class="card-img-top" alt="..." width="288px" height="320px" />
                    <div class="card-body text-white px-4">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <p class="card-text">
                            Explore
                            <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 20rem">
                    <img src="/images/success3.png" class="card-img-top" alt="..." width="288px" height="320px" />
                    <div class="card-body text-white px-4">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <p class="card-text">
                            Explore
                            <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="success-card-row1 d-flex mx-5 justify-content-between mt-5">
                <div class="card" style="width: 20rem">
                    <img src="/images/success4.png" class="card-img-top" alt="..." width="288px" height="320px" />
                    <div class="card-body text-white px-4">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <p class="card-text">
                            Explore
                            <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 20rem">
                    <img src="/images/success5.png" class="card-img-top" alt="..." width="288px" height="320px" />
                    <div class="card-body text-white px-4">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <p class="card-text">
                            Explore
                            <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 20rem">
                    <img src="/images/success6.png" class="card-img-top" alt="..." width="288px" height="320px" />
                    <div class="card-body text-white px-4">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <p class="card-text">
                            Explore
                            <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="button d-flex justify-content-end me-5 mx-5 mb-5">
                <div
                    class="about-btn border border-secondary d-flex align-items-center justify-content-center text-white mt-5">
                    About Vikn Codes
                    <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow" style="color: #ffffff"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="get-in-touch mt-5 mb-5">
        <div class="get-in-touch-text mt-5 mx-5">
            <h1 class="display-4 text-light">Are you ready <br>to embark on a journey with us?</h1>
            <p class="text-light mt-3">Turing Ideas into Impeccable Solutions</p>
        </div>
        <div class="get-in-touch-btn mx-5 mt-5 d-flex align-items-center justify-content-center text-white">
            Get In Touch
            <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow" style="color: #ffffff"></i>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <hr style="width: 75%;">
        </div>
    </div>
</div>