<nav class="navbar navbar-expand-lg bg-black z-1 sticky-top">
  <div class="container-fluid">
    <img src="/images/vikn-logo.png" class="ms-5" alt="Bootstrap" width="150" height="60" />
    <!-- <a class="navbar-brand ms-2 text-white" href="#">Vikn Codes</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" routerLink="my-service" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="careers">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-black pt-3">
  <div class="footer-section-1 d-flex align-items-center mx-5 justify-content-between">
    <div class="footer-logo">
      <img src="/images/vikn-logo.png" alt="">
    </div>
    <div class="social-media d-flex justify-content-between">
      <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
      <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
      <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
      <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
    </div>
  </div>
    <div class="container mt-5">
        <div class="row">
            <!-- Services -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-light">Services</h5>
                <ul class="list-unstyled">
                    <li><a href="#!" class="text-secondary">App Development</a></li>
                    <li><a href="#!" class="text-secondary">Web Designing</a></li>
                    <li><a href="#!" class="text-secondary">Web Development</a></li>
                    <li><a href="#!" class="text-secondary">Graphic Designing</a></li>
                    <li><a href="#!" class="text-secondary">ERP Solutions</a></li>
                </ul>
            </div>
            <!-- Quick Links -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-light">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#!" class="text-secondary">About Vikn Codes</a></li>
                    <li><a href="#!" class="text-secondary">Portfolio</a></li>
                    <li><a href="#!" class="text-secondary">Our Work</a></li>
                    <li><a href="#!" class="text-secondary">Product</a></li>
                    <li><a href="#!" class="text-secondary">Contact</a></li>
                </ul>
            </div>
            <!-- Locations -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-light">Locations</h5>
                <ul class="list-unstyled">
                    <li>
                        <p class="text-secondary">Govt. Cyberpark KSITIL<br>
                        Special Economic Zone<br>
                        Nellikkode, Calicut Kerala - 673016<br>
                        PH: +91 95775 00400<br>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li><br>
                        <p class="text-secondary"><i class="fa-solid fa-location-dot" style="color: #ff0000;margin-right: 5px;"></i>GGG83334, 04, 4th Floor<br>
                        Prince Muhammed Ibn Abdulaziz St.,<br>
                        Ash Shati District, Jazan,<br>
                        82812 K.S.A, Saudi Arabia<br>
                        PH: +966 55 912 4428<br>
                        PH: +966 54 598 2976<br>
                        PH: +966 54 489 5978</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 d-flex justify-content-between">
                <p class="mb-0 text-white">&copy; 2024, Vikn Codes all rights reserved | <a href="#">Terms & Conditions</a></p>
                <p class="mb-0"><a href="#">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>