<div class="wrapper pt-5">
    <div class="row-1 d-flex justify-content-evenly">
        <div class="card" style="width: 20rem">
            <img src="/images/technology.jpg" class="card-img-top" alt="..." width="288px" height="192px"/>
            <div class="card-body bg-dark text-white px-4">
                <p class="card-text">
                    App <br />
                    Development
                </p>
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In aliquid
                    adipisci, asperiores voluptates obcaecati suscipit.
                </p>
                <p class="card-text">
                    Explore
                    <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                </p>
            </div>
        </div>
        <div class="card" style="width: 20rem">
            <img src="/images/web-dev.jpg" class="card-img-top" alt="..." width="288px" height="192px"/>
            <div class="card-body bg-dark text-white px-4">
                <p class="card-text">
                    Web <br />
                    Design
                </p>
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In aliquid
                    adipisci, asperiores voluptates obcaecati suscipit.
                </p>
                <p class="card-text">
                    Explore
                    <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                </p>
            </div>
        </div>
        <div class="card" style="width: 20rem">
            <img src="/images/web.jpg" class="card-img-top" alt="..." width="288px" height="192px"/>
            <div class="card-body bg-dark text-white px-4">
                <p class="card-text">
                    App <br />
                    Development
                </p>
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In aliquid
                    adipisci, asperiores voluptates obcaecati suscipit.
                </p>
                <p class="card-text">
                    Explore
                    <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="row-2 d-flex justify-content-evenly mt-5 pb-5">
        <div class="card" style="width: 20rem">
            <img src="/images/graphic.png" class="card-img-top" alt="..." width="288px" height="192px"/>
            <div class="card-body bg-dark text-white px-4">
                <p class="card-text">
                    Graphic <br />
                    Design
                </p>
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In aliquid
                    adipisci, asperiores voluptates obcaecati suscipit.
                </p>
                <p class="card-text">
                    Explore
                    <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                </p>
            </div>
        </div>
        <div class="card" style="width: 20rem">
            <img src="/images/erp.jpg" class="card-img-top" alt="..." width="288px" height="192px"/>
            <div class="card-body bg-dark text-white px-4">
                <p class="card-text">
                    ERP <br />
                    Solutions
                </p>
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In aliquid
                    adipisci, asperiores voluptates obcaecati suscipit.
                </p>
                <p class="card-text">
                    Explore
                    <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                </p>
            </div>
        </div>
        <div class="card" style="width: 20rem">
            <img src="/images/teamwork.jpg" class="card-img-top" alt="..." width="288px" height="192px"/>
            <div class="card-body bg-dark text-white px-4">
                <p class="card-text">
                    Explore our design<br />
                    Packages
                </p>
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In aliquid
                    adipisci, asperiores voluptates obcaecati suscipit.
                </p>
                <p class="card-text">
                    Explore
                    <i class="fa-solid fa-arrow-right ms-2 mt-1 arrow f" style="color: #ffffff"></i>
                </p>
            </div>
        </div>
    </div>
</div>